<head>
    <meta charset='utf-8'>
    <title>Yggdrasil</title>
</head>
<body>
    <div id='app' />
</body>

{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename='dist/home.bundle.js') }}"></script>
{% endblock %}